<h1>改變文字</h1>
<p>{{ title | uppercase }}</p>
<p>{{ title | lowercase }}</p>

<h1>日期格式</h1>
<p>Today is {{ today }}</p>
<p>Today is {{ today | date }}</p>
<p>Today is {{ today | date : "fullDate" }}</p>
<p>It is {{ today | date : "hh:mm:ss" }}</p>
<p>It is {{ today | date : "shortTime" }}</p>

<h1>數字格式</h1>
<p>{{ currency }}</p>
<!-- 自動加上$符號+四捨五入到小數第二位 -->
<p>{{ currency | currency }}</p>
<p>{{ currency | currency : "EUR"}}</p>
<p>{{ currency | currency : "TWD"}}</p>
<p>{{ currency | currency : "TWD" : "symbol" : "1.1-3"}}</p>

<h1>百分比格式</h1>
<p>{{ currency | percent }}</p>

<h1>自訂Pipe</h1>
<h3>{{ title | append : " custom自訂內容"}}</h3>
